<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="expressly" type="Expressly.SDKConfigHandler, Expressly" />
    </configSections>

    <!-- Expressly SDK settings -->
    <expressly>
        <settings>
            <add name="mode" value="sandbox" />
            <add name="requestRetries" value="1" />
            <add name="connectionTimeout" value="360000"/>
            <add name="apiBaseUrl" value="http://test.shop.com"/>
            <add name="apiKey" value="Y2Q4MDNlYTMtY2YwNi00OTk0LTkxMDItOGNjODMxNjkzNzlmOm55TzRnNnB3QlNhZFB3WjhTVmNzeXdkVUE5VlNXeUU2" />
        </settings>
    </expressly>

    <log4net>
        <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <file value="Expressly.TestingLog.log"/>
            <appendToFile value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline"/>
            </layout>
        </appender>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="FileAppender"/>
        </root>
    </log4net>

    <appSettings>
        <!-- Diagnostics logging is only available in a Full Trust environment. -->
        <!-- <add key="ExpresslyLogger" value="Expressly.Log.DiagnosticsLogger|Expressly.Log.Log4netLogger"/> -->
        <add key="ExpresslyLogger" value="Expressly.Log.Log4netLogger"/>
        <add key="ExpresslyLogger.Delimiter" value="|" />
    </appSettings>
</configuration>
